{% extends "layout.html" %}
{% block content %}
    {#        <div id="root"></div>#}
    <div class="new-board-wrapper">
        <button class="page-button" id="new-board-button">Create new board</button>
    </div>
    <div class="center-all-content">
        <div class="all-boards-container" id="root">

            <div class="single-board">
                <div class="board-header">
                    <div class="board-name">Test board</div>
                    <form id="test" class="hide-display">
                        <input type="text" placeholder="Board name" class="board-name board-name-edit">
                        <input type="submit" class="page-button" value="Submit">
                    </form>
                    <hr>
                    <button class="page-button">Add new card</button>
                </div>
                <div class="cards-container">
                    <div class="single-card">
                        <div class="card-name">Card 1</div>
                        <div class="single-card-item-section">
                            <div class="card-item">Item 1</div>
                            <div class="card-item">Item 1</div>
                            <div class="card-item">Item 1</div>
                        </div>

                        <div class="card-button-section">
                            <button class="transparent-button">Add item</button>
                        </div>

                    </div>
                    <div class="single-card">
                        <div class="card-name">Card 2</div>
                        <div class="card-item">Item 1</div>
                        <div class="card-item">Item 1</div>
                    </div>
                    <div class="single-card">
                        <div class="card-name">Card 3</div>
                        <div class="card-item">Item 1</div>
                        <div class="card-item">Item 1</div>
                    </div>
                    <div class="single-card">
                        <div class="card-name">Card 4</div>
                        <div class="card-item">Item 1</div>
                    </div>
                    <div class="single-card">
                        <div class="card-name">Card 4</div>
                        <div class="card-item">Item 1</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}