<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <script src="https://kit.fontawesome.com/22cd3c75e4.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" sizes="32x32"
              href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96"
              href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16"
              href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    {% endblock %}
</head>
<body>
<div class="main-page">
    <nav>
        <h1 class="logo">Pro Man</h1>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/"> Users </a></li>
            <li><a href="/"> About </a></li>
            <li id="login-register-li">Login / Register</li>
        </ul>
        <i class="fa-solid fa-user" id="user-profile-icon"></i>
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="{{ url_for('static', filename='images/profile/user.png') }}">
                    <h3>Daenerys Targaryen</h3>
                </div>
                <hr>
                <a href="#" class="sub-menu-link">
                    <img src="{{ url_for('static', filename='images/profile/profile.png') }}">
                    <p>View your profile</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="{{ url_for('static', filename='images/profile/settings.png') }}">
                    <p>Profile settings</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="{{ url_for('static', filename='images/profile/help.png') }}">
                    <p>Help & Privacy</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="{{ url_for('static', filename='images/profile/logout.png') }}">
                    <p>Logout</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</div>
{% block footer %}
{% endblock %}
</body>
</html>