<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <script src="https://kit.fontawesome.com/22cd3c75e4.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" sizes="32x32"
              href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96"
              href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16"
              href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>
<body>
<div class="main-page">
    <nav>
        <h1 class="logo">Pro Man</h1>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/"> Users </a></li>
            <li><a href="/"> About </a></li>
            {% if not session %}
                <li id="login-register-li">Login / Register</li>
            {% else %}
                <li><a href="/user/{{ session.id }}/boards">My boards</a></li>
                <li id="logout-li">Logout</li>
            {% endif %}
        </ul>
        <i class="fa-solid fa-user" id="user-profile-icon"></i>
        <div class="sub-menu-wrap" id="subMenu">
            {% if session %}
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="{{ url_for('static', filename='images/profile/guest-user.jpg') }}">
                        <h3>{{ session.name }}</h3>
                    </div>
                    <hr>
                    <a href="#" class="sub-menu-link">
                        <img src="{{ url_for('static', filename='images/profile/settings.png') }}">
                        <p id="my-boards-p">My boards</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="{{ url_for('static', filename='images/profile/help.png') }}">
                        <p>Help & Privacy</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="{{ url_for('static', filename='images/profile/logout.png') }}">
                        <p id="logout-p">Logout</p>
                        <span>></span>
                    </a>
                </div>
            {% else %}
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="{{ url_for('static', filename='images/profile/guest-user.jpg') }}">
                        <h3>Login to see your profile</h3>
                    </div>
                    <hr>
                    <a href="#" class="sub-menu-link">
                        <img src="{{ url_for('static', filename='images/profile/help.png') }}">
                        <p>Help & Privacy</p>
                        <span>></span>
                    </a>
                </div>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
</div>
{% block footer %}
{% endblock %}
</body>
</html>