{% extends "layout.html" %}
{% block scripts %}
        <script type="module" src="{{ url_for('static', filename='js/private.js') }}" defer></script>
{% endblock %}
{% block content %}
    {% if session %}
        <div class="new-board-wrapper">
            <button class="page-button" id="new-board-button" data-board-type="private">Create new private board</button>
        </div>
    {% endif %}
    <div class="spinner-wrapper">
    </div>
    <div class="center-all-content">
        <div class="all-boards-container" id="root">

        </div>
    </div>

{% endblock %}